#!/usr/bin/make -f

dh_auto_configure: cmake . -DCMAKE_INSTALL_PREFIX=/usr -DCMAKE_VERBOSE_MAKEFILE=ON -DCMAKE_BUILD_TYPE=None -DCMAKE_INSTALL_SYSCONFDIR=/etc -




%:
	dh $@ -j 8 --buildsystem=cmake
